body {
    font-family: Kadwa;
    margin: 0;
    background: rgba(32, 32, 32, 0.897);
    min-height: 100vh; /* Ensure the body takes full viewport height */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gobackbutton{
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding-right: 20px;
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 0px;
    right: 0; /* Align to the right */
    cursor: pointer;
  }

  .gobackbutton:hover{
    color: #c0c0c0;
  }



.small-logo,
.small-logo * {
  box-sizing: border-box;
}
.small-logo {
  color: azure;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding-right: 20px;
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 0px;
    left: 0; /* Align to the right */
    padding-left: 20px;
}
.small-logo-span {
  color: #f90101;
  font-size: 30px;
  font-weight: 700;
}
.small-logo-span2 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}

.saasPitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  text-align: center;
  font-size: 21.416px;
  font-weight: 700;
  line-height: 50px;
  position: relative;
  height: auto;
  width: 60%;
  padding-bottom:20px;
   
}

h2{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form {
  display: flex;
  flex-direction: column;
  background: rgba(20, 20, 20, 0.774);
  /* border: 2px solid black; */
  border-radius: 15px;
  width: 25%;
  height: 500px;
  margin-bottom: 150px;
  position: relative; /* Change from absolute to relative */
  margin: 0 auto; /* Center align if constrained */
  /* box-shadow: 15px 13px 31.8px -17px rgba(0, 0, 0, 1); */
}

label{
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  position: relative;
  height: 75px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: rgb(17, 17, 17);
  border-radius: 15px;
  border: none;
  position: relative;
  width:80%;
  height: 60px;
  text-align: center;
  color: white;
  font-size: 20px;
}

button{
  color: black;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 30%;
  height: 52px;
  position: relative;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #c0c0c0;
}

input::placeholder{
  text-align: center;
  color: rgba(255, 255, 255, 0.205);
  width: 100%;
}