body {
  font-family: Kadwa;
  margin: 0;
  background: rgb(32, 32, 32);
  min-height: 100vh; /* Ensure the body takes full viewport height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding-bottom: 100px;
}

input {
  text-align: center;
  color: white;
  font-size: 20px;
}

input::placeholder {
  color: white;
}

.small-logo,
.small-logo * {
  box-sizing: border-box;
}
.small-logo {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  height: 100px;
  padding-left: 20px;
}
.small-logo-span {
  color: #f90101;
  font-size: 30px;
  font-weight: 700;
}
.small-logo-span2 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}

.h-1,
.h-1 * {
  box-sizing: border-box;
}
.h-1 {
  text-align: center;
  font-size: 100px;
  line-height: 112px;
  font-weight: 700;
  position: relative;
  height: auto; /* Adjust height for flexibility */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
  justify-content: center;
}
.h-1-span {
  color: #ffffff;
  font-size: 95px;
  line-height: 112px;
  font-weight: 700;
}
.h-1-span2 {
  color: #f90101;
  font-size: 100px;
  line-height: 112px;
  font-weight: 700;
}
.h-1-span3 {
  color: #ffffff;
  font-size: 95px;
  line-height: 112px;
  font-weight: 700;
}

.p-1,
.p-1 * {
  box-sizing: border-box;
}
.p-1 {
  text-align: center;
  font-size: 21.416px;
  font-weight: 700;
  line-height: 50px;
  position: relative;
  height: auto;
  margin: 20px auto;
  width: 65%;
  max-width: 1100px;
  min-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-1-span {
  color: #ffffff;
}
.p-1-span2 {
  color: #fe0000;
}
.p-1-span3 {
  color: #ffffff;
}
.p-1-span4 {
  color: #23fc00;
}
.p-1-span5 {
  color: #ffffff;
}
.p-1-span6 {
  color: #deff12;
}
.p-1-span7 {
  color: #ffffff;
}
.p-1-span8 {
  color: #ff0000;
}
.p-1-span9 {
  color: #ffffff;
}

.rectangle-4,
.rectangle-4 * {
  box-sizing: border-box;
}
.rectangle-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;
  border-radius: 15px;
  width: 228px;
  height: 52px;
  position: relative;
  height: auto; /* Allow flexible height */
  margin: 20px auto;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.sign-up-here,
.sign-up-here * {
  box-sizing: border-box;
}
.sign-up-here {
  color: #000000;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.rectangle-4:hover {
  background-color: #c0c0c0;
}

.ellipse-3,
.ellipse-3 * {
  box-sizing: border-box;
}
.ellipse-3 {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 40px solid green;
  border-color: #252539 #252539 #252539 transparent;
  background-color: transparent;
  box-sizing: border-box;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.skill {
  padding: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 20px;
  position: relative;
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

svg {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  transform: rotate(-180deg);
}

circle {
  fill: none;
  stroke: url(#gradientColor);
  stroke-width: 40px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: anim 1s linear forwards;
}

.havsScore1 {
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 50px;
  font-weight: 700;
  min-width: 395px;
  position: relative;
  margin: 20px auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  transform: rotate(90deg);
}

.havsScore2 {
  color: #23fc00;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 50px;
  font-weight: 700;
  min-width: 395px;
  position: relative;
  margin: 20px auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  transform: rotate(-360deg);
  margin-bottom: 50px;
}

.havsScore3 {
  font-weight: 700;
  color: #23fc00;
  background: transparent;
  font-size: 35px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}

.svg-background {
  position: absolute;
  top: 0;
  left: 0;
}

.havsAdvice {
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.416px;
  font-weight: 700;
  min-width: 395px;
  position: relative;
  margin: 20px auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  transform: rotate(-360deg);
  margin-bottom: 50px;
}

.instructons-1,
.instructons-1 * {
  box-sizing: border-box;
}
.instructons-1 {
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 14px;
  font-weight: 700;
  min-width: 395px;
  position: relative;
  margin: 20px auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
}

/* Position and layout for .back-ground and other child elements */
.back-ground {
  background: rgb(31, 31, 31);
  border-radius: 15px;
  border: 2px solid black;
  width: 395px;
  height: 650px;
  position: relative; /* Change from absolute to relative */
  margin: 0 auto; /* Center align if constrained */
  box-shadow: 15px 13px 31.8px -17px rgba(0, 0, 0, 1);
  margin-bottom: 50px;
}

table {
  background: rgb(31, 31, 31);
  border-radius: 15px;
  color: white;
  border: 2px solid black;
  padding: 20px;
  position: relative;
  box-shadow: 15px 13px 31.8px -17px rgba(0, 0, 0, 1);
  margin: 0 auto;
  width: 395px;
}

td {
  text-align: center;
}

/* Adjust positioning of other child elements accordingly */

.label-1,
.label-1 * {
  box-sizing: border-box;
}
.label-1 {
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  position: relative;
  height: 75px;
  margin: auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-put-1,
.in-put-1 * {
  box-sizing: border-box;
  border: none;
}
.in-put-1 {
  background: rgb(17, 17, 17);
  border-radius: 15px;
  border: 2px solid black;
  position: relative;
  margin: auto;
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-2,
.label-2 * {
  box-sizing: border-box;
}
.label-2 {
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  position: relative;
  height: 75px;
  margin: auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-put-2,
.in-put-2 * {
  box-sizing: border-box;
  border: none;
}
.in-put-2 {
  background: rgb(17, 17, 17);
  border-radius: 15px;
  border: 2px solid black;
  position: relative;
  margin: auto;
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-3,
.label-3 * {
  box-sizing: border-box;
}
.label-3 {
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  position: relative;
  height: 75px;
  margin: auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-put-3,
.in-put-3 * {
  box-sizing: border-box;
  border: none;
}
.in-put-3 {
  background: rgb(17, 17, 17);
  border-radius: 15px;
  border: 2px solid black;
  position: relative;
  margin: auto;
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output {
  color: #ffffff;
  padding: 20px;
  border: 1px solid black;
  background: green;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  position: relative;
  height: 75px;
  margin: auto;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.rectangle-4,
.rectangle-4 * {
  box-sizing: border-box;
}
.rectangle-4 {
  background: #d9d9d9;
  border-radius: 15px;
  width: 228px;
  height: 52px;
  position: relative;
  padding: 10px;
  margin-top: 30px;
}
.calculate,
.calculate * {
  box-sizing: border-box;
}
.calculate {
  color: black;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-ground-2 {
  background: rgb(31, 31, 31);
  border: 2px solid black;
  border-radius: 15px;
  width: 395px;
  height: 270px;
  margin-bottom: 150px;
  position: relative; /* Change from absolute to relative */
  margin: 0 auto; /* Center align if constrained */
  box-shadow: 15px 13px 31.8px -17px rgba(0, 0, 0, 1);
}

@media (max-width: 1162px) {
  .p-1 {
    max-width: 500px;
    min-width: 500px;
  }
}

@media (max-width: 620px) {
  input::placeholder {
    font-size: 12.5px;
  }

  .small-logo {
    font-size: 30px;
  }

  .small-logo-span {
    font-size: 20px;
  }

  .small-logo-span2 {
    font-size: 15px;
  }

  .h-1 {
    font-size: 40px; /* Make the font size larger */
    line-height: 0.1;
    margin-bottom: 10px; /* Remove any extra margins */
    padding: 0; /* Remove any padding */
    height: auto; /* Ensure dynamic height */
  }

  .h-1-span,
  .h-1-span2,
  .h-1-span3 {
    font-size: 60px; /* Consistent font size for all spans */
    line-height: 1; /* Tighten up the spacing between spans */
    margin: 0; /* Remove margin between spans */
    padding: 0; /* Remove padding between spans */
  }

  .p-1 {
    font-size: 15px;
    line-height: 30px;
    margin-top: 0; /* Ensure no top margin to bring closer to .h-1 */
    margin-bottom: 0px; /* Adjust bottom margin if needed */
    min-width: 350px;
    max-width: 350px;
  }
  .rectangle-4 {
    width: 150px;
    height: 35px;
  }
  .sign-up-here {
    font-size: 15.5px;
  }

  .instructons-1 {
    font-size: 10px;
    max-width: 150px;
    min-width: 50px;
    line-height: 15px;
  }

  .back-ground {
    width: 250px;
    height: auto; /* Let the background size adjust dynamically */
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
    position: relative; /* Ensure positioning relative to the container */
    margin: 0 auto; /* Center the background itself */
  }

  .label-1 {
    font-size: 15.416px;
    margin: 0 auto; /* Automatically adjust the margins */
    text-align: center; /* Ensure the text inside is centered */
    width: 100%; /* Ensure it takes up full width */
    height: auto; /* Let it size automatically */
  }

  .in-put-1 {
    width: 200px;
    height: 40px;
  }

  .label-2 {
    font-size: 15.416px;
    margin: 0 auto; /* Automatically adjust the margins */
    text-align: center; /* Ensure the text inside is centered */
    width: 100%; /* Ensure it takes up full width */
    height: auto; /* Let it size automatically */
  }
  .in-put-2 {
    width: 200px;
    height: 40px;
  }
  .label-3 {
    font-size: 15.416px;
    margin: 0 auto; /* Automatically adjust the margins */
    text-align: center; /* Ensure the text inside is centered */
    width: 100%; /* Ensure it takes up full width */
    height: auto; /* Let it size automatically */
  }
  .in-put-3 {
    width: 200px;
    height: 40px;
  }

  .output {
    font-size: 15.416px;
  }
  .back-ground-2 {
    width: 250px;
    height: auto; /* Let the background size adjust dynamically */
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
    position: relative; /* Ensure positioning relative to the container */
    margin: 0 auto; /* Center the background itself */
  }

  @media (max-width: 400px) {
    .h-1 {
      font-size: 30px; /* Make the font size larger */
      line-height: 0.1;
      margin-bottom: 10px; /* Remove any extra margins */
      padding: 0; /* Remove any padding */
      height: auto; /* Ensure dynamic height */
    }

    .h-1-span,
    .h-1-span2,
    .h-1-span3 {
      font-size: 40px; /* Consistent font size for all spans */
      line-height: 1; /* Tighten up the spacing between spans */
      margin: 0; /* Remove margin between spans */
      padding: 0; /* Remove padding between spans */
    }

    .p-1 {
      font-size: 15px;
      line-height: 30px;
      margin-top: 0; /* Ensure no top margin to bring closer to .h-1 */
      margin-bottom: 0px; /* Adjust bottom margin if needed */
      min-width: 250px;
      max-width: 250px;
    }

    .instructons-1 {
      padding-top: 20px;
      font-size: 10px;
      max-width: 150px;
      min-width: 50px;
      line-height: 15px;
    }
  }
}
