body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #141420;
  min-height: 100vh; /* Ensure the body takes full viewport height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding-bottom: 100px;
  min-height: 100vh;
}

.havsSpan{
  color: #f90101;
}


input {
  text-align: center;
  color:#ffffff;
  font-size: 20px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.205);
}

input:focus{
  font-weight: bolder;
  font-size: larger;
}

.topBackGround {
  display: flex; /* Flexbox layout */
  flex-direction: column;
  background-image: url('jeriden-villegas-VLPUm5wP5Z0-unsplash-1024x683.jpg'); /* Ensure the path is correct */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No tiling */
  height:auto; /* Height of the section */
  position: relative; /* Allows absolute positioning of child elements */
  overflow: hidden; /* Ensure child elements don't overflow */
  width: auto
}

/* @media(max-width:1120px){
  .topBackGround{
    min-height: 1150%;
  }
} */

/* Pseudo-element for darkening the background */
.topBackGround::before {
  content: ""; 
  position: absolute; 
  top: 0%; 
  left: 0%; 
  right: 0%; 
  bottom: 0%; 
  background-color: rgba(0, 0, 0, 0.70); /* Semi-transparent black for darkening */
  z-index: 1; /* Set below the content */
  backdrop-filter: blur(5px); 
}

.topBackGround > * {
  position: relative; /* Position content relative to the parent */
  z-index: 2; /* Above the dark overlay */
}


nav {
  position: fixed; 
  backdrop-filter: blur(10px); 
  z-index: 1000; 
  filter: brightness(100%);
  background-color: rgba(20, 20, 32, 0.801);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
  width: 100%;
}

nav ul {
  width: 97%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.sideBar a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
}


nav li:first-child {
  display: flex;
  margin-right: auto;
  position: relative;
  right: 2.5%
}



.sideBar {
  position: fixed;
  margin: 0 0;
  top: 0;
  right: 0;
  height: 250px;
  width: 250px; /* Adjusted width */
  z-index: 999;
  background-color: rgba(20, 20, 32, 0.808);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); 
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0; /* Ensure no padding inside the sidebar */
}

.sideBar li {
  display: flex;
  width: 100%;
  margin-left:0; /* Remove any default margin */
  padding: 0; /* Remove any padding that could cause extra space */
  list-style: none; /* Optional: removes default list styles */
  align-items: center;
  justify-content: center;
}

.sideBar li:first-child{
  background-color: rgba(20, 20, 32, 0.7);
}

.sideBar a {
  width: 100%;
  margin-left: 20px; /* Remove any default margin */
  padding: 0; /* Ensure no padding that could cause a gap */
  text-align: left; /* Align text to the left inside the anchor */
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.menuButton{
  display: none;
  
}

@media(max-width: 1000px){
  .hideOnMobile{
    display: none;
  }

  .menuButton{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px
  }

  nav li:first-child {
    display: flex;
    margin-right: auto;
    position: relative;
    right: 5%

  }
}

@media(max-width: 450px){
  .sideBar{
    width:100%
  }
 
}

/* Small Logo Styles */
.small-logo {
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between logo and links */
  font-size: xx-large;
  background: transparent;
}

/* Logo Text Styles */
.small-logo-span {
  color: #f90101; /* Red color */
  font-size: 30px; /* Font size */
  font-weight: 700; /* Bold font */
}

.small-logo:hover{
  background: transparent;
  cursor: default;
}
 @media(max-width:500px){
  .small-logo {
    font-size: large;
  }
  .small-logo-span{
    font-size: large;
  }

 }

 @media(max-width:290px){
  .small-logo {
  display: none;
  }
  .small-logo-span{
    font-size: small;
  }

}

.h-1,
.h-1 * {
  box-sizing: border-box;
}

.h-1 {
  margin-top: 50px;
  font-size: 100px;
  line-height: 112px;
  font-weight: 700;
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.h-1-spanH1{
  color: #ffffff;
  font-size: 95px;
  line-height: 112px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.h-1-span {
  color: #ffffff;
  font-size: 95px;
  line-height: 112px;
  font-weight: 700;
}
.h-1-span2 {
  color: #f90101;
  font-size: 100px;
  line-height: 112px;
  font-weight: 700;
}
.h-1-span3 {
  color: #ffffff;
  font-size: 95px;
  line-height: 70px;
  font-weight: 700;
}

@media(max-with:1200){
  .h-1-spanH1{
    color: #ffffff;
    font-size: 95px;
    line-height: 70px;
    font-weight: 700;
  }
  .h-1-span {
    color: #ffffff;
    font-size: 95px;
    line-height: 70px;
    font-weight: 700;
  }
  .h-1-span2 {
    color: #f90101;
    font-size: 100px;
    line-height: 75px;
    font-weight: 700;
  }
  .h-1-span3 {
    color: #ffffff;
    font-size: 95px;
    line-height: 70px;
    font-weight: 700;
    display: flex;
    flex-direction: column;

  }

}

@media(max-width: 700px){
  .h-1-spanH1{
    color: #ffffff;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
  }
  .h-1-span {
    color: #ffffff;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
  }
  .h-1-span2 {
    color: #f90101;
    font-size: 65px;
    line-height: 70px;
    font-weight: 700;
  }
  .h-1-span3 {
    color: #ffffff;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    display: flex;
    flex-direction: column;

  }

}

@media(max-width:500px){

  .h-1-spanH1{
   
    font-size: 40px;
    line-height: 50px;
   
  }
  .h-1-span {
    
    font-size: 40px;
    line-height: 50px;
  }
  .h-1-span2 {
   
    font-size: 45px;
    line-height: 50px;
  }
  .h-1-span3 {
    
    font-size: 40px;
    line-height: 50px;

  }

}

@media(max-width:300px){
  .h-1-spanH1{
   
    font-size: 35px;
    line-height: 40px;
  }
  
  .h-1-span {
    
    font-size: 35px;
    line-height: 40px;
  }
  
  .h-1-span2 {
   
    font-size: 35px;
    line-height: 40px;
  }
  .h-1-span3 {
    
    font-size: 35px;
    line-height: 40px;

  }
}

.intro {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  text-align: center; 
  border:none;
  font-size: x-large;
  letter-spacing: 0.5px;
  margin-bottom: 150px;
}

.intro-span {
  font-weight: bold;
  letter-spacing: 2px;;
}

@media(max-width: 1120px){
  .intro {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    max-width: 80%;
    margin: auto;
    text-align: center; 
    border:none;
    font-size: x-large;
    letter-spacing: 0.5px;
    margin-bottom: 75px;
  }
  
  .intro-span {
    font-weight: bold;
    letter-spacing: 2px;;
  }
  
}

@media(max-width:700px){
  .intro{
    font-size: large;
  }
}

@media(max-width:500px){
  .intro{
    font-size:12px
  }
}

.keyFeatureContainer {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 350px;
  margin-bottom: 50px;
  
}

.featureH2{
  display: flex;
  justify-content: flex-start;
  position: relative;
  color: #ffffff;
  font-weight: bolder;
  text-align: center; 
  left: 5%;
  font-size: 30px;
  padding-top: 20px;
}
@media(max-width: 500px){
  .featureH2{
    font-size: 15px;
  }
}

.keyFeatureList {
  margin: auto;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 77%; 
  padding: 0; 
  cursor: grab;
  left:5%;
 
}

.keyFeatureList:active{
  cursor: grabbing;
}

.keyFeatureList::-webkit-scrollbar {
  height: 5px; /* Height of the horizontal scrollbar */
  border-radius: 5px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.keyFeatureList::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color of the scrollbar handle */
  border-radius: 10px; /* Round edges */
}

@media(max-width: 500px){
  .keyFeatureList::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the scrollbar handle */
    
  }
}

.keyFeatureList::-webkit-scrollbar-track {
  background-color: transparent;

}

.keyFeatureList::-webkit-scrollbar-button {
  background-color: transparent;
}

/* Optionally, customize hover states */
.keyFeatureList::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa; /* Change scrollbar color on hover */
}

/* Ensure ol tag takes up full width of the container */
ol {
  display: inline-flex; /* Horizontal alignment */
}

.box1 {
  margin: 10px; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  background: #252539;
  text-align: center;
  width: 500px; 
  padding: 20px; 
  box-sizing: border-box; 
  min-height: 200px;
  border-radius: 10px;
  line-height: 25px;
}


@media(max-width: 500px){
  .box1{
    width: 250px;
  }
}

@media(max-width: 300px){
  .box1{
    width: 125px 
  }
}

.mainContainerH2{
  display: flex;
  justify-content: flex-start;
  position: relative;
  color: #ffffff;
  font-weight: bolder;
  text-align: center; 
  left: 5%;
  font-size: 20px;
  padding-bottom: 25px;
}


.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 1000px;
  overflow: hidden;
}

@media(max-width:1150px){
.mainContainer{
  flex-direction: column;
}
}


.calculateContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width:25%;
  height: 700px;

}


/* Position and layout for .back-ground and other child elements */
.back-ground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:20px;
  background-color:  hsl(240, 22%, 18%);
  border-radius: 10px;

}

.calDateInput{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

input[type="date"]{
  background:#141420;
  border: none;
  border-radius: 5px;
  position: relative;
  margin: auto;
  width: 325px;
  height: 60px;
}

.calinput1{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.label-1,
.label-1 * {
  box-sizing: border-box;
}
.label-1 {
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  padding-bottom: 10px;
}

.in-put-1,
.in-put-1 * {
  box-sizing: border-box;
  border: none;
}
.in-put-1 {
  background:#141420;
  border-radius: 5px;
  position: relative;
  margin: auto;
  width: 325px;
  height: 60px;
  margin-right: 20px;
  margin-left: 20px;
}

.calinput2{
  display: flex;
  flex-direction: column;
  flex:1;
  padding-bottom: 20px;
}

.label-2,
.label-2 * {
  box-sizing: border-box;
}
.label-2 {
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}

.in-put-2,
.in-put-2 * {
  box-sizing: border-box;
  border: none;
}
.in-put-2 {
  background:#141420;
  border-radius: 5px;
  position: relative;
  margin: auto;
  width: 325px;
  height: 60px;
}


.clalinput3{
  display: flex;
  flex-direction: column;
  flex:1;
  padding-bottom: 20px;
}

.label-3,
.label-3 * {
  box-sizing: border-box;
}
.label-3 {
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}

.in-put-3,
.in-put-3 * {
  box-sizing: border-box;
  border: none;
}
.in-put-3 {
  background: #141420;
  border-radius: 5px;
  position: relative;
  margin: auto;
  width: 325px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.claloutput1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex:1;
}

.label-4{
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}

.in-put-4 {
  margin-left: 20px;
  margin-right: 20px;
  background: #141420;
  border-radius: 5px;
  position: relative;
  width: 325px;
  height: 60px;
  display: flex;
  border: none;
  
}

.calButton1 { 
  padding: 40px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center; 
  align-items: center;     
  flex-direction: column;
}

.cal1Button{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  position: relative;
  transition: background-color 0.3s ease;
  font-weight: bolder;
  font-size: x-large;
}
.cal1Button:hover{
  background-color: #a8a8a8;
}

.calculatebutton{
  display: flex;
  background: #d9d9d9;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  font-weight: bolder;
  font-size: x-large;
}

.cal1ClearButton:hover{
  background-color: #aaaaaa;
}

.nameAndDateContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
  
}

.nameAndDateinput1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.nameAndDateinput1Name{
  color: #ffffff;
  text-align: center;
  font-family: Kadwa, sans-serif;
  font-size: 21.41642951965332px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}

.nameAndDateinput1Input{
  border: 1px solid white;
  background: #141420;
  border-radius: 5px;
  position: relative;
  width: 125%;
  height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding:10px;
  margin-bottom: 10px;
}
.nameAndDateinput2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.nameAndDateinput2Input{
  border: none;
  border: 1px solid white;
  background: #141420;
  border-radius: 5px;
  position: relative;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding:10px;
  margin-bottom: 10px;
}


table {
  background-color:  hsl(240, 22%, 18%);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  color: white;
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: 350px;
  margin-bottom: 7%;
  overflow-x: auto;
}

td {
  text-align: center;
  padding-bottom: 10px;
  text-decoration: none;
}

.tableRows {
  padding-bottom: 5px;
  text-decoration: underline;
  height: 70px;
  font-weight: bold;
  font-size: larger;
}

.footerRows{
  padding-bottom: 5px;
  text-decoration: underline;
  height: 70px;
  font-weight: bold;
  font-size: larger;
}

.awarnessSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 7%;
}

.whyUsContainer{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  height: 900px;

}

.whyUsList{
 color: #ffffff;
 margin: 0 0;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 align-items: flex-start;
 overflow-y: scroll;
 overflow-x: hidden;
 height: 900px;
}

.whyUsList::-webkit-scrollbar{
  background-color: transparent;
}

.whyUsBox{
  margin: 10px; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  background: #252539;
  text-align: center;
  width: 500px; 
  padding: 20px; 
  box-sizing: border-box; 
  min-height: 225px;
  border-radius: 10px;
  line-height: 25px;
}

.twitterPostList{
  list-style: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: flex-end;
  border-radius: 5px;
  position: relative;
  margin-top: 75px;
  left: 28%;
  max-height: 600px;
  width: 100%;
  overflow-y: scroll;
  list-style: none;
}

.twitterPostList::-webkit-scrollbar {
  height: 5px; /* Height of the horizontal scrollbar */
  border-radius: 5px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.twitterPostList::-webkit-scrollbar-thumb {
  background-color:transparent /* Color of the scrollbar handle */
  
}

.twitterPostList::-webkit-scrollbar-track {
  background-color: transparent;
}

.twitterPostList::-webkit-scrollbar-button {
  background-color: transparent;
}
.twitter-tweet{
  max-width: 400px; /* Adjust width as needed */
  list-style: none;

}

.dangersSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  left:5%;
  right:15%;
  line-height: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.dangerFeatureH2{
  display: flex;
  justify-content: flex-end;
  position: relative;
  color: #ffffff;
  font-weight: bolder;
  text-align: center; 
  font-size: x-large;
  left: 180px;
}

.dangerInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  color: #ffffff;
  width: 100%;
  left: 250px;
}

.datatrackContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datatrackingH2{
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
  font-weight: bolder;
  text-align: center; 
  font-size: large;
  margin-top: 50px;
}

.dataTrackingP{
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 50%;
  line-height: 30px;
}

.whyConsiderDataTrackingList{
  display: flex; /* Use flex to maintain proper alignment */
  justify-content: center; /* Center content inside */
  align-items: center; /* Vertically center content if needed */
  width: 80%; /* Set a reasonable width */
  margin: 0 auto; /* Center the flex container within its parent */
}

.box2{
  color: #ffffff;
  margin: 10px; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  background: #252539;
  text-align: center;
  width: 500px; 
  padding: 20px; 
  box-sizing: border-box; 
  height: 200px;
  border-radius: 10px;
  margin-bottom: 50px;
  line-height: 30px;
}


.getInTouchH2{
  color: #ffffff;
}

.getInTouchContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 600px;
  left:5%

}

.getInTouch{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 50px;
  position: relative;
  line-height: 25px;
  width:500px;
  right:9%;
  margin-bottom: 145px;
  
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  height: 325px;
  position: relative; 
  margin-bottom: 50px;
  width: 40%;
  left:9%
}

.formH2{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formInputArea{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.name{
  border: 1px solid white;
  background:#141420;
  border-radius: 5px;
  position: relative;
  margin: auto;
  width: 470px;
  height:30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  text-align: left;
  padding:10px;
  
}

.name::placeholder{
  padding: 10px;
}
.email-input{
  border: 1px solid white;
  background: #141420;
  border-radius: 5px;
  position: relative;
  margin: auto;
  width: 470px;
  height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  text-align: left;
  padding:10px;
}

.email-input::placeholder{
  padding:10px;
}

.textarea{
  border: 1px solid white;
  background: #141420;
  border-radius: 5px;
  position: relative;
  margin: auto;
  width: 470px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  text-align: left;
  padding:10px;
}

textarea::placeholder{
  padding:10px;
}


.submitButton{
  display: flex;
  background: #d9d9d9;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  font-weight: bolder;
  font-size: x-large;
  
}
.tryUsNow{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
  line-height: 25px;
}


